<div class="<%= week.class %> week">
  <div class="week_label">
    <%- if week.class==CatchupWeek %>
      Makeup 
    <% end -%>
    Week #<%= index+1 %>
  </div>
  <%- week.days.each do |day| -%>
    <div class="<%= day.class %> day <%= 'inactive' if week.class==CatchupWeek %> <%= 'future_day' if day.date > Date.today %> <%= 'past_day' if day.date <= Date.today %>" data-date="<%= day.date.to_formatted_s(:weekday_and_mdy) %>">
      <div class="day_label">
        <span><%= day.date.strftime("%a") %></span> 
        <%= day.date.to_formatted_s(:short) %>
      </div>

      <%- if day.class==MedicationDay %>
        <div class='dose'>
          <div class="dose_label">Dose #<%= day.dose_number %></div>
          <div class="dose_status">
            <span class="dose_taken_text <%= 'taken' if day.date<=Date.today %>"><%= day.dose_status %></span>
            <span class="missed_dose_text">Missed</span>
          </div>
          <div class="dose_contents"><%= day.dose_contents %></div>
        </div>
      <% end -%>

      <%- if day.class==CatchupDay %>
        <div class='dose'>
          <div class="dose_label">Makeup Dose #<%= day.dose_number %></div>
          <div class="dose_status">
            <span class="dose_taken_text"><%= day.dose_status %></span>
            <span class="missed_dose_text">Missed</span>
          </div>
          <div class="dose_contents"><%= day.dose_contents %></div>
        </div>
      <% end -%>

      <%- if day.class==HoldDay %>
        <div class='dose_empty'>No medication scheduled</div>
      <% end -%>
    </div>
  <% end -%>
</div>