<div class="row">
  <div class="col-md-1">
    <div class="week_number_big">
      <%= n %>
    </div>
    <div class="week_date_range">
      <%= week.days.first.date.to_formatted_s(:short) %> - 
      <%= week.days.last.date.to_formatted_s(:short) %>
    </div>
    <div class="week_dose_count">
      <%= week.dose_count %>
    </div>
  </div>

  <%- week.days.each do |day| -%>
    <div class="col-md-1"><%= day.date %> / <%= day.dose_count %></div>
  <% end -%>
</div>