<div class="container">

    <%= render :partial => 'week_row', :locals => {:week => @schedule.week1, :n => 1} %>
    <%= render :partial => 'week_row', :locals => {:week => @schedule.week2, :n => 2} %>
    <%= render :partial => 'week_row', :locals => {:week => @schedule.week3, :n => 3} %>
    <%= render :partial => 'week_row', :locals => {:week => @schedule.week4, :n => 4} %>
    <%= render :partial => 'week_row', :locals => {:week => @schedule.week5, :n => 5} %>
    <%= render :partial => 'week_row', :locals => {:week => @schedule.week6, :n => 6} %>
    <%= render :partial => 'week_row', :locals => {:week => @schedule.week7, :n => 7} %>
    <%= render :partial => 'week_row', :locals => {:week => @schedule.week8, :n => 8} %>


</div>

