<div class="container">

  <div class="page-header">
    <h1>R.I.P.E. Medication Schedule</h1>
  </div>

  <p>
    Initial phase: <%= @schedule.week1.days.first.date.to_formatted_s(:weekday_and_mdy) %> to 
    <%= @schedule.week8.days.last.date.to_formatted_s(:weekday_and_mdy) %>
    <br>
    Today is day: <%= @schedule.day_count_today %> of <%= @schedule.days.count %>
    <br>
    The patient has taken <%= @schedule.dose_count_today %> doses out of <%= @schedule.dose_count %>
    <br>
  </p>

  <div class="row schedule_table_header">
    <div class="col-md-1">
      Week
    </div>
    <%- @schedule.week1.days.each do |day| -%>
      <div class="col-md-1"><%= day.date.strftime("%a") %></div>
    <% end -%>
  </div>

  <%= render :partial => 'week_row', :locals => {:week => @schedule.week1, :n => 1} %>
  <%= render :partial => 'week_row', :locals => {:week => @schedule.week2, :n => 2} %>
  <%= render :partial => 'week_row', :locals => {:week => @schedule.week3, :n => 3} %>
  <%= render :partial => 'week_row', :locals => {:week => @schedule.week4, :n => 4} %>
  <%= render :partial => 'week_row', :locals => {:week => @schedule.week5, :n => 5} %>
  <%= render :partial => 'week_row', :locals => {:week => @schedule.week6, :n => 6} %>
  <%= render :partial => 'week_row', :locals => {:week => @schedule.week7, :n => 7} %>
  <%= render :partial => 'week_row', :locals => {:week => @schedule.week8, :n => 8} %>

</div>

