<div class="container">

  <div class="page-header">
    <h1>Initial Phase Medication Schedule</h1>
  </div>

  <p>
    Initial phase: <%= @schedule.first_date.to_formatted_s(:weekday_and_mdy) %> to 
    <%= @schedule.medication_days.last.date.to_formatted_s(:weekday_and_mdy) %>
    <br>
    Today is day: <%= @schedule.day_count_today %> of <%= @schedule.days.count %>
    <br>
    The patient has taken <%= @schedule.dose_count_today %> doses out of <%= @schedule.dose_count %>
    <br>
  </p>


  <div class="Schedule">
    <%- @schedule.weeks.each_with_index do |week, index| -%>
      <div class="<%= week.class %> week">
        <div class="week_label">
          Week #<%= index+1 %>
        </div>
        <%- week.days.each do |day| -%>
          <div class="<%= day.class %> day">
            <%= day.date.to_formatted_s(:short) %>

            <%- if day.class==MedicationDay %>
              <div class="dose_taken_text">
                <label class='label label-primary'>Take Meds</label>
              </div>
              <div class="missed_dose_text">MISSED!</div>
            <% end -%>

            <%- if day.class==HoldDay %>
              <p>Hold</p>
            <% end -%>
          </div>
        <% end -%>
      </div>
    <% end -%>

    <%- @schedule.catchup_weeks.each_with_index do |week, index| -%>
      <div class="<%= week.class %> week">
        <div class="week_label">
          Makeup Week #<%= index+1 %>
        </div>
        <%- week.days.each do |day| -%>
          <div class="<%= day.class %> day inactive">
            <%= day.date.to_formatted_s(:short) %>

            <%- if day.class==CatchupDay -%>
              <div class="dose_taken_text">
                <label class='label label-info'>Makeup</label>
              </div>
              <div class="missed_dose_text">MISSED!</div>
            <% end -%>

            <%- if day.class==HoldDay %>
              <p>Hold</p>
            <% end -%>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>

</div>

