<div class="container">

  <div class="page-header">
    <h1>R.I.P.E. Medication Schedule</h1>
  </div>

  <p>
    Initial phase: <%= @schedule.first_date.to_formatted_s(:weekday_and_mdy) %> to 
    <%= @schedule.last_date.to_formatted_s(:weekday_and_mdy) %>
    <br>
    Today is day: <%= @schedule.day_count_today %> of <%= @schedule.days.count %>
    <br>
    The patient has taken <%= @schedule.dose_count_today %> doses out of <%= @schedule.dose_count %>
    <br>
  </p>

  <div class="row schedule_table_header">
    <div class="col-md-1">
      Week
    </div>
    <%- @schedule.weeks.first.days.each do |day| -%>
      <div class="col-md-1"><%= day.date.strftime("%a") %></div>
    <% end -%>
  </div>

  <%- @schedule.weeks.each_with_index do |week, index| -%>
    <%= render :partial => 'week_row', :locals => {:week => week, :n => index+1} %>  
  <% end -%>

</div>

